@using aspfinal.ViewModels;
@model IndexViewModel

<partial name="~/Views/Shared/Partials/_Header.cshtml" />

<div class="ProductsShop">
    <h1>Shop</h1>
</div>








<div class="container">

    <div class="columnone">

        <div class="bigcube"></div>

        <div class="smallcubes">

            <div class="smallcube1"></div>

            <div class="smallcube2"></div>

            <div class="smallcube3"></div>

            <div class="smallcube4"></div>

        </div>

    </div>

    <div class="columntwo">

        <div class="sentences">

            <h1 class="sentence">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

            <p class="sentence">Nulla eget mauris quis elit sollicitudin ornare.</p>

            <p class="sentence">Nam vehicula ligula vitae sapien vehicula facilisis.</p>

            <p class="sentence">Donec tristique sapien vel faucibus euismod.</p>

            <p class="prodp">@Model.ProductModel.Name</p>

            <hr>

            <p>star star star star</p>

            <br>

            <h1>30€</h1>

            <div>

                <button class="btnfive">+</button>

                <button class="btnfive">3</button>

                <button class="btnfive">-</button>

                <button class="btnfive">Add to cart</button>

            </div>

            <p>SKU</p>

            <button class="btnfive">Add to wishlist</button>

        </div>

    </div>

</div>

<div class="button-container">

    <button class="red-button">Description</button>

    <button class="btn33">Additional information</button>

    <button class="btn33">Rewievs (0)</button>

    <button class="btn33">Shipping and Delivery</button>

</div>

<div class="container">

    <div class="row">

        <div class="random-text">Lorem ipsum duidem riatur a? Auae sit es laborum odio?</div>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla ea esse nesciunt quia at? Quo?</p>

    </div>

    <div class="row">

        <div class="grey-div"></div>

    </div>

    <!-- repeat for the remaining rows -->

</div>

<hr>

<h1 class="rubrikforproducts">Related products</h1>

<div class="image-container">

    <img src="~/Images/showcase-img-1.png" alt="Adidas Image 1">

    <p>Adidas</p>

</div>

<div class="image-container">

    <img src="~/Images/showcase-img-1.png" alt="Adidas Image 2">

    <p>Adidas</p>

</div>

<div class="image-container">

    <img src="~/Images/showcase-img-1.png" alt="Adidas Image 3">

    <p>Adidas</p>

</div>

<div class="image-container">

    <img src="~/Images/showcase-img-1.png" alt="Adidas Image 4">

    <p>Adidas</p>

</div>

<hr>

<div class="container55">

    <img src="~/Images/showcase-img-1.png" alt="Image 1">

    <img src="~/Images/showcase-img-1.png" alt="Image 2">

    <img src="~/Images/showcase-img-1.png" alt="Image 3">

    <img src="~/Images/showcase-img-1.png" alt="Image 4">

    <img src="~/Images/showcase-img-1.png" alt="Image 5">

</div>

<hr>

<footer class="footerproducts27">

    bmerkto

</footer>

