<section class="showcase">
    <div class="container">
        <div class="column-1">
            <div class="content">
                <div class="title-1">Welcome to bmarkto SHOP</div>
                <div class="title-2">Exclusive chair</div>
                <div class="title-3">Gold collection</div>
                <a class="btn btn-theme" href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="column-2">
            <img src="" alt="här ska min andra bild vara" />
        </div>
    </div>
</section>