<section class="section1">

<div>

<img src="picture1.jpg" alt="Picture 1">

<p>Text for Picture 1</p>

</div>

<div>

<div class="test">

<h2 class="test1">Up to sell</h2>

<h1>Get the best prices</h1>

<h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>

</div>

<p>Text for Picture 2</p>

</div>

<div>

<img src="picture3.jpg" alt="Picture 3">

<p>Text for Picture 3</p>

</div>

</section>

